body{
  min-width: 400px;
}
img{
  max-width:50px;
  float:right;
}
h1{
  border-bottom: .1em solid orange;
  float: left;
  width: 82%;
}

input[name="credentials"]{
  margin:5px;
}
#submit{
  margin: 0 auto;
  display: block;
  margin-top: 7px;
  background-color: #82B541;
  border: none;
  box-sizing: border-box;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  width: 200px;
  cursor: pointer;
  padding: 14px 19px 14px 19px;
  outline: none
}
#submit:hover{
  background-color: #82b541d1;
}
#submit:active{
  background-color:#7cae3e
}

.clear{
  clear: both;
}

#loggedIn{
  display: none;
}

#user, #password{
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  min-height: 20px;
}
